# ignore handwritten notes
*.xopp

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

.eslintcache

# node modules of the backend and frontend
# (add this just to be sure that this does not get added when someone runs npm install in these sub-folders)
backend/node_modules
frontend/node_modules

# keep all docs folders, in empty form (at least)
# prevent breaking of typedoc (possibly)
# keep some (empty) directories
!**/.gitkeep

.idea
frontend/.idea
backend/.idea

# ignore test coverage files
*coverage.json
