.footer {
    background-color: var(--neutral-150);
    min-height: clamp(4rem, 10vw, 6rem);
    padding-block: 0.5rem;
    padding-inline: min(8rem, 16vw);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}
