<h1> Login </h1>
<form action="/login" method="POST">
    USER <input type="text" name="username">
    PASSWORD <input type="password" name="password">
    <button type="submit"> Submit </button>
</form>