.row {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1.5fr 1.5fr 0.75fr;
    align-items: center;
    padding-inline: 0.5rem;
    padding-block: 0.75rem;
    width: 100%;
    border-bottom: solid var(--neutral-200) 0.15rem;
    position: relative;
}

.row * {
    margin-block: 0;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.buttonContainer {
    margin-inline: auto;
    transition: 0.2s;
}

.buttonContainer p {
    font-size: 0.75rem;
    text-align: center;
    margin-top: 0;
}

.buttonContainer:hover {
    scale: 1.1;
    cursor: pointer;
}

.button {
    margin-block: 0.2rem;
    margin-inline: 0.5rem;
}

/* The name column should facilitate a [ PENDING ] text */
.name {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
}

/* The delete button */
.delete {
    position: absolute;
    left: 100%;
    margin-left: 0.5rem;
    padding: 0;
}
