.body {
  width: clamp(18rem, 94vw, 180rem);
  margin-inline: auto;
  margin-bottom: clamp(1rem, 2vw, 2.5rem);
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.body > div {
  width: auto !important;
  display: flex !important;
  margin-inline: 0;
}

.body > div:first-child {
  max-width: 25rem;
  width: 25% !important;
}
