.students {
  width: clamp(18rem, 92vw, 60rem);
  margin-inline: auto;
  margin-bottom: clamp(1rem, 2vw, 2.5rem);
}

.students.limited {
  width: clamp(18rem, 92vw, 100rem);
  display: flex;
  gap: 4rem;
}

/* The style for the list of students */
.studentCards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.studentCards.limited {
  max-width: 20rem;
}

/* The actual card as a container */
.card {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
}

