.header {
    box-shadow: 0 0 0.5rem 0.3rem rgba(0, 0, 0, 0.1);
    padding-block: clamp(0.5rem, 1vw, 1.5rem);;
    padding-inline: min(8rem, 16vw);
    display: flex;
    justify-content: space-between;
    margin-bottom: clamp(1rem, 2vw, 2.5rem);
}

@media (max-width: 85rem) {
    .header {
        flex-direction: column;
        height: auto;
        padding-inline: 1rem;
    }

    .links {
        width: 100%;
        align-self: center;
        justify-content: space-evenly;
        gap: 0.2rem !important;
    }

    .links a {
        padding: 0.75rem 0.5rem !important;
    }
}

.header div {
    display: flex;
    align-items: center;
}

.links {
    gap: 1rem;
    flex-wrap: wrap;
}

.header div h1 {
    font-size: clamp(1.5rem, 4vw, 2.5rem);
}

.imagecontainer {
    max-width: clamp(4rem, 4vw, 6rem);
}

.links a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    font-weight: normal;
    padding: 0.75rem 1rem;
}

.links a:hover {
    background-color: var(--neutral-150);
    text-decoration: none;
    color: var(--primary-100);
}

.links a:active {
    background-color: var(--neutral-200);
}

.links button {
    margin-left: auto;
}

.displayNone {
    display: none !important;
}
